@use "../../index.scss";

.card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    * {
        font-family: "Ubuntu500" !important;
        font-weight: 500;
    }
    .img {
        img {
            width: 100%;
        }
    }
    .container {
        max-width: 420px;
        p {
            font-size: 15px;
        }
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .data {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .cost {
                display: flex;
                align-items: center;
                gap: 5px;
                * {
                    color: index.$blue;
                }
                .int {
                    font-size: 32px;
                }
                .currency {
                    font-size: 26px;
                }
            }
            .btn3 {
                @include index.btn(index.$blue, 10px 30px, 20px);
            }
        }
    }
}